/* Aggressive CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #000000;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000000;
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #141414;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #e5e5e5;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.25s;
}

button:focus,
button:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}
